body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
  }
  
  .box {
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 200%;
    margin: 10px;
    padding: 40px;
    width: 300px;
  }
  
  h3 {
    text-align: center;
  }
  
  button {
    float: right;
  }