h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

p, p.light{
  color: navy;
}

p.dark{
  color: white;
}

div.light {
  color: black;
  background-color: white;
}
div.dark {
  color: white;
  background-color: black;
}

.Card {
  text-align: center;
  padding: .25rem;
  width: 21rem;
  margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~ Info ~~~~~~~~~~~~~~~~ */
.info--title--dark{
  font-style: italic;
  color: yellow;
}

.info--title--light{
  font-style: italic;
  color: rgb(0, 0, 78);
}


/* ~~~~~~~~~~~~~~~~ About ~~~~~~~~~~~~~~~~ */
.about{
  text-align: left;
}

.about--title{
  padding-bottom: 5px;
}

.about--description{
  padding-top: 0;
}
/* ~~~~~~~~~~~~~~~~ Funfacts ~~~~~~~~~~~~~~~~ */
.funfacts{
  text-align: left;
}

.funfacts--title{
  padding-bottom: 5px;
}

.funfacts--description{
  padding-top: 0;
}


/* ~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~ */
.buttons{
  text-align: left;
}

.buttons img{
  margin-left: 5px;
}

.button--icon:hover {
  color: navy;
  cursor: pointer;
}

/* Nav and toggler */
nav {
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 0px;
}

nav.dark {
  background-color: black;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider{
  border-color: white;
  background-color: #F5F5F5;
  justify-content: flex-end;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle{
  border-color: #F5F5F5;
  background-color: black;
}

.toggler--light {
  color:black;
}

nav.dark .toggler--light {
  color: #918E9B
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler--dark {
  color: #FFFFFF;
}