h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

p{
  color: navy;
}

.Card {
  text-align: center;
  padding: 1rem;
  width: 15rem;
  margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~ Info ~~~~~~~~~~~~~~~~ */
.info--title{
  font-style: italic;
}


/* ~~~~~~~~~~~~~~~~ About ~~~~~~~~~~~~~~~~ */
.about{
  text-align: left;
}

.about--title{
  margin-bottom: 5px;
}

.about--description{
  margin-top: 0;
}
/* ~~~~~~~~~~~~~~~~ Funfacts ~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~ */