#root{
}

h1 {
  font-size: 2rem;
}

p{
  color: navy;
}

.Card {
  text-align: center;
  padding: 1rem;
  width: 15rem;
  margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~ Info ~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~ About ~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~ Funfacts ~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~ Buttons ~~~~~~~~~~~~~~~~ */