* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  

  /************************* Toggler styles *************************/
  nav {
    height: 200px;
    width: 364px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 32px;
    margin-top: 25px;
    height: 0px;
  }
  
  nav.off {
    background-color: black;
  }

  .toggler {
    display: flex;
    align-items: center;
  }
  
  .toggler p {
    font-size: 0.625rem;
    font-weight: 600;
  }
  
  .toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
  }
  
  .toggler--slider {
    justify-content: flex-end;
  }
  
  nav.off .toggler--slider{
    border-color: white;
    background-color: #F5F5F5;
  }
  
  .toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
  }
  
  nav.off .toggler--slider--circle{
    border-color: #F5F5F5;
    background-color: black;
  }
  
  .toggler--on {
    color:black;
  }
  
  nav.off .toggler--on {
    color: #918E9B
  }
  
  .toggler--off {
    color: #D5D4D8;
  }
  
  nav.off .toggler--off {
    color: #FFFFFF;
  }